* {
    font-family: Helvetica, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    border-radius: 7px;
    background: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: none;
    margin-top: 10px;
    padding: 5px 20px;
}

.hero {
    display: flex;
    padding: 15px 315px 0px 315px;
    background-color: rgb(24, 0, 46);
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.headerLinks {
    color: #E5E7EB;
}

.lowerHero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 315px 75px 315px;
    background-color: rgb(24, 0, 46);
}

.heroText {
    display: flex;
    flex-direction: column;
}

.mainHeroHeader {
    display: flex;
    max-width: 300px;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.heroSubText {
    display: flex;
    max-width: 400px;
    color: #E5E7EB;
    font-size: 18px;
}

.informationSection {
    display: flex;
    flex-direction: column;
    padding: 25px 400px 60px 400px;
    text-align: center;
    color: rgb(24, 0, 46);
}

.infoHeader {
    display: flex;
    font-weight: bolder;
    font-size: 36px;
    padding-bottom: 25px;
}

.destinations {
    display: flex;
    justify-content: center;
    gap: 45px;
}

.destInfo {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    font-size: 18px;
    gap: 7px;
}

.infoImages {
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(24, 0, 46);
}

.quoteSection {
    display: flex;
    flex-direction: column;
    padding: 60px 400px;
    background-color: rgb(199, 187, 202);
    color: rgb(24, 0, 46);
}

.quote {
    display: flex;
    font-size: 24px;
    font-style: italic;
}

.quoter {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.footer {
    display: flex;
    background-color: white;
    justify-content: center;
}

.callToAction {
    display: flex;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
    max-width: 1000px;
    margin: 100px 315px;
    padding: 20px 75px;
    border-radius: 10px;
    gap: 275px;
}

.actionText {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.actionTitle {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
}

.actionSub {
    font-size: 14px;
    color: #E5E7EB;
}

.footerButton {
    display: flex;
    align-items: center;
    padding: 0px;
    border-radius: 10px;
    border-style: solid;
    border-color: #E5E7EB;
    max-width: 100px;
    max-height: 30px;
}